<form [formGroup]="form" class="form">
  <h3>Rekord hozzáadása</h3>

  <mat-form-field class="max-width">
    <mat-label>Identifier</mat-label>
    <input matInput focus placeholder="Ide írhatsz.." formControlName="identifier" cdkAutosizeMinRows="2"
     cdkAutosizeMaxRows="5"required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Instantiates</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="instantiates" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>PartOf</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="partOf" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="status" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>StatusReason</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="statusReason" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="category" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Medication</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="medication" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Subject</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="subject" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Context</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="context" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>SupportInformation</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="supportInformation" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Effective</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="effective" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Performer</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="performer" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ReasonCode</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="reasonCode" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>ReasonReference</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="reasonReference" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Request</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="request" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Device</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="device" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Note</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="note" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dosage</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="dosage" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>EventHistory</mat-label>
    <textarea placeholder="Ide írhatsz.." formControlName="eventHistory" matInput cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <div style="display: flex; justify-content: flex-end;">
    <button mat-button (click)="dialogRef.close()" class="margin-right">MÉGSEM</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">FELVÉTEL</button>
  </div>
</form>
