.toolbar{
    background: rgb(66,66,66);
}

.splash-title, [mat-button] {
    text-transform: capitalize;
  }
  
  [mat-button]:not(:last-child) {
    margin-right: 16px;
  }
  
  a[mat-button] {
    font-size: xx-large;
  }
  
  .serachbar input {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
  }
  
  .searchbar {
    width: 100%;
    margin-left: 16px;
  }