<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a mat-button (click)="select('')">
      Főoldal
    </a>
    <span style="flex: 1 1;"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      Felhasznalo&nbsp;
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>settings</mat-icon>
        <span>Beállítások</span>
      </button>
      <button mat-menu-item (click)="callSelectPage.emit('')">
        <mat-icon>arrow_back</mat-icon>
        <span>Kijelentkezés</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row>
    Kereső: 
    <div class="searchbar">
      <input type="text" placeholder="Keresés" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
