<mat-card *ngIf="rekord" (click)="getRekord.emit(rekord)">
  <mat-card-header>
    <mat-card-title>{{rekord.identifier}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <button mat-mini-fab color="none" aria-label="Edit" class="edit">
        <mat-icon>edit</mat-icon>
      </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{rekord.instantiates}}</p>
    <p>{{rekord.partOf}}</p>
    <p>{{rekord.status}}</p>
    <p>{{rekord.statusReason}}</p>
    <p>{{rekord.category}}</p>
    <p>{{rekord.medication}}</p>
    <p>{{rekord.subject}}</p>
    <p>{{rekord.context}}</p>
    <p>{{rekord.supportInformation}}</p>
    <p>{{rekord.effective}}</p>
    <p>{{rekord.performer}}</p>
    <p>{{rekord.reasonCode}}</p>
    <p>{{rekord.reasonReference}}</p>
    <p>{{rekord.request}}</p>
    <p>{{rekord.device}}</p>
    <p>{{rekord.note}}</p>
    <p>{{rekord.dosage}}</p>
    <!-- <p *ngFor="let dosage of rekord.dosage [rekord.dosage] = rekord.dosage"></p> -->
    <p>{{rekord.eventHistory}}</p>
  </mat-card-content>
</mat-card>
